@{
	ViewBag.Title = "ToDoListApp";
}


<label>Test Token Auth:</label>
<hr />
<div class="form-group">
	<label style="float:left; margin:5px;">Username:</label>
	<input id="username" class="form-control" type="text" value="Test" />
</div>
<div class="form-group">
	<label style="float:left; margin:5px;">Password:</label>
	<input id="password" class="form-control" type="password" value="Test1!" />
</div>
<div class="form-group">
	<button class="btn btn-primary" onclick="authorize()">Authorize</button>
	<label id="status"></label>
</div>

<hr />


@section scripts{

	<script>

		function authorize() {

			var username = $('#username').val();
			var password = $('#password').val();
			var status = $('label#status');

			var data = { grant_type: "password", username: username, password: password }

			$.ajax({
				type: 'POST',
				url: '/Token',
				data: data
			}).done(function (data) {
				console.log(data);
				status.html('Success');
				status.css('color', 'green');
				sessionStorage.setItem('access_token', data.access_token);
			}).fail(function (err) {
				console.log(err);
				status.html('Error');
				status.css('color', 'red');
			});
		}

		function AuthorizedGET(action, params, callback) {

			var token = sessionStorage.getItem('access_token');
			var headers = {};
			if (token) {
				headers.Authorization = 'Bearer ' + token;
			}

			$.ajax({
				type: 'GET',
				url: `/api/ToDoList/GetToDoItems/`,
				headers: headers,
				data: params
			}).done(function (data) {
				callback(data);
				//console.log(data);
			}).fail(function (err) { console.log(err); });

		}


		function AuthorizedPOST(action, params, callback) {
			$.ajax({
				type: 'POST',
				url: `/api/ToDoList/AddToDoItem/${action}`,
				data: params,
				headers: headers
			}).done(function (data) {
				callback(data);
				console.log(data);
			}).fail(function (err) { console.log(err); });
		}

	</script>
}

